/*--------------- Default Styles (Mobile-first Approach)  --------------- */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('assets/fonts/Source-Sans-Pro/SourceSansPro-Regular.otf') format('truetype');
}

@font-face {
    font-family: "Roboto";
    src: url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

:root {
    /* colors */
    --white: #FFFFFF;
    --black: #000000;
    --grey: #8B8B8B;
    --grn-button: #16DB99;

    /* typography */
    font-size: 20px;
    font-family: "Source Sans Pro", serif;
}

.lj-home {
    font-family: 'Roboto';
    font-weight: bold;
}

#view-more {
    display: none;
}